<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport", content="width=device-width, initial-scale=1.0" >

    <title>Blue Legion - File Analysis</title>

    <link rel = "stylesheet" href = "{{url_for ('static',filename = 'page.css')}}">
    <link rel = "icon" href = "{{url_for ('static',filename = 'logo.ico')}}" type = "image/x-icon">
    
   

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>


    <header>
        <center>
          <img id="image_logo" 
                src="{{url_for ('static',filename = 'logo.png')}}" 
                width="140" 
                height="67" />
        </center>
     </header>

  
    <!-- Title 1-->
    <div class="div-1124">
      <center><div class="Titre1">Blue Legion</div></center>
      <center><h1 class="Sous_titre1">Analysis Result</h1></center>
    </div>



    <!--Container Mere-->
    <div class = "containerM"> 

      <!--cercle-->
      <section class="circle">
       <div class="c100 p{{ '%.0f' % (rate * 100) }} small">
          <span>p{{ '%.0f' % (rate * 100) }} %</span>
         <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
        </div>
      </section>
      
      <!--Container fils Pour la tableau-->
      
        <div class="containerF">
          <br>
          <br>
          <br>
          <div class="ktiba">
            {% if finalresults %}
              <a id="nnn"><img src="{{url_for ('static',filename = 'check.png')}}"  id="check-mark" width="15" height="15"></a> <a id="texte">No potential ransomware has been detected in this file</a>
            {% else %}
              <a id="nnn"><img src="{{url_for ('static',filename = 'cross.png')}}"  id="check-mark" width="15" height="15"></a> <a id="texte">A potential ransomware has been detected in this file</a>
            {% endif %}
          </div>
          
          <center>
            <div class="desc">
              <table id="desc" style= "width:65%; height:20%;">
                <tr>
                  <td id="hash">{{details[1]}}</td>
                  <td id="date">{{details[3]}}</td>
                  <td id="type">{{details[2]}}</td>
                  <td id="size">{{ '%.2f' % details[0] }} MB</td>
                </tr>
              </table>
            </div>
          </center>
          </div>
        
    </div>
  

    
    
   
    
  


    <!-- Container A -->
    <div class="containerA">

      <div class = "123">
        <h1 class="Scan">The scan result provide a list of malware that has been detected or not detected :</h1>
      </div>

      <div class="customers">
        <table id="customers">
          {% for s in data %}
          <tr>
              <td>
                  {{s}}
              </td>
              <td>
                  {% if data[s] %}
                      <a id="nnn"><img src="{{url_for ('static',filename = 'check.png')}}"  id="check-mark" width="15" height="15"> Undetected </a>
                  {% else %}
                      {% if s == "Behaviour_Detection" %}
                          {% if desc["Behaviour_Detection"] == "Exception has been handle it, we can not found the file for the behaviour analysis OR the file probably be clean" %}
                              <a id="nnn"><img src="{{url_for ('static',filename = 'warning.png')}}"  id="check-mark" width="15" height="15"> Detected </a>
                          {% else %}
                              <a id="nnn"><img src="{{url_for ('static',filename = 'cross.png')}}"  id="check-mark" width="15" height="15"> Detected </a>
                          {% endif %}
                      {% else %}
                          <a id="nnn"><img src="{{url_for ('static',filename = 'cross.png')}}"  id="check-mark" width="15" height="15"> Detected </a>
                      {% endif %}
                  {% endif %}
              </td>
              <td>
                  <a id="aaa">{{desc[s]}}</a>
              </td>
              {%endfor%}
          </tr>
        </table>
      </div>


      <br>
      <p class="Download">Do you want to download the report in <a href="/download_report">PDF version </a> ?</p>
     
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white">
        <hr class="footer-line">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              
    
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Tools</h6>
                <p>
                  <a class="text-white">Static</a>
                </p>
                <p>
                  <a class="text-white">Behavior</a>
                </p>
                <p>
                  <a class="text-white">API Service</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  Useful links
                </h6>
                <p>
                  <a class="text-white">Documentation</a>
                </p>
                
              </div>
    
              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i> Bab Ezzouar USTHB, Alger</p>
                <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                
              </div>
              <!-- Grid column -->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
    
          <hr class="my-3">
    
          <!-- Section: Copyright -->
          <section class="p-3 pt-0" style="display: flex; justify-content: center; align-items: center;">
                  <p>&copy; 2023 Blue Legion Copyright</p>
          </section>
          <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
      </footer>
      <!-- End Footer -->

</body>



</html>